@*Strong type views*@
@using Itlaflix.Core.Application.ViewModel
@using Itlaflix.Core.Application.ViewModel.episode
@model List<EpisodeViewModel>
@{
    ViewData["Title"] = $"Episodios de {Model.FirstOrDefault()?.Season?.Serie?.Name} temporada {Model.FirstOrDefault()?.Season?.SeasonNumber}";
}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <h5>Temporada @Model.FirstOrDefault()?.Season?.SeasonNumber</h5>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                @if (Model == null || Model.Count == 0)
                    {
                        <h2>No hay Episodios agregados</h2>
                    }
                    else
                    {
                        @foreach (EpisodeViewModel item in Model)
                        {
                               <div class="col">
                                <div class="card shadow-sm ">
                                    @{
                                        int id = item.Id;
                                    }
                                    <a asp-controller="Episode" asp-action="Watch" asp-route-id="@id" type="button" class="btn btn-outline-primary"><img class=" bd-placeholder-img card-img-top" src="@item.imagePath" /></a>

                                    <div class="card-body">
                                        <h4>@item.Name</h4>
                                        <h6>@item.episodeNumber</h6>
                                        <p class="card-text">@item.Description</p>
                                        <div class="">
                                            <small class="fw-bold fs-6">@item.ReleaseDate</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

            }
                    }
                
            </div>

        </div>
