<!-- Vista SaveMovie -->
@using Itlaflix.Core.Application.ViewModel.movie 
@model SaveMovieViewModel  // Define el modelo de vista que se utilizará en esta vista

@{
    bool editMode = Model.Id == 0 ? false : true;  // Determina si la vista está en modo de edición o creación
    ViewData["Title"] = "Peliculas";  // Establece el título de la vista
}

<div class="card">
    <h5 class="card-header">@(editMode ? $"Editando: {Model.Name}" : "Agregando una nueva pelicula")</h5>
    <div class="card-body">
        <form method="post" asp-controller="Movie" asp-action="@(editMode ? "Edit" : "Create")" id="saveMovie">
            <h5 class="card-title">@(editMode ? "Editar" : "Agregar")</h5>

            <!-- Campo para el nombre -->
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name:</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- Campo para la descripción -->
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description:</label>
                <textarea asp-for="Description" class="form-control" aria-label="With textarea"></textarea>
            </div>

            <!-- Campo para el género -->
            <div class="mb-3">
                <label asp-for="GendersId" class="form-label">Género:</label>
                @switch (Model.genderList)
                {
                    case null:
                        // No se hace nada si Model.genderList es nulo
                        break;
                    case var list when list.Count == 0:
                        <input type="checkbox" class="btn-check" id="btn-check-6" autocomplete="off" disabled>
                        <label class="btn" for="btn-check-6">Aún no se han agregado géneros</label>
                        break;
                    default:
                        foreach (var gender in Model.genderList)
                        {
                            <input type="checkbox" class="btn-check" id="btn-check-p-@gender.Id" name="GendersId" value="@gender.Id" autocomplete="off">
                            <label class="btn" for="btn-check-p-@gender.Id">@gender.Name</label>
                           
                        }
                        <span asp-validation-for="GendersId" class="text-danger"></span>
                        break;
                }

                
            </div>

            <!-- Campo para la imagen -->
            <div class="mb-3">
                <label asp-for="imagePath" class="form-label">Image:</label>
                <input asp-for="imagePath" class="form-select" type="url">
            </div>

            <!-- Campo para el año -->
            <div class="mb-3">
                <label asp-for="year" class="form-label">Año:</label>
                <input asp-for="year" class="form-control" type="number">
                <span asp-validation-for="year" class="text-danger"></span>
            </div>

            <!-- Campo para el director -->
            <div class="mb-3">
                <label asp-for="directorId" class="form-label">Director:</label>
                <select asp-for="directorId" class="form-select">
                    @switch (Model.directorList)
                    {
                        case null:
                            // Tratamiento para cuando la lista es nula
                            break;
                        case var list when list.Count == 0:
                            <option>Aún no se han agregado directores</option>
                            break;
                        default:
                            foreach (var director in Model.directorList)
                            {
                                <option value="@director.Id">@director.Name</option>
                            }
                            break;
                    }
                </select>
                <span asp-validation-for="directorId" class="text-danger"></span>
            </div>

            <!-- Campo para el productor -->
            <div class="mb-3">
                <label asp-for="ProducersId" class="form-label">Productor:</label>
                @switch (Model.producerList)
                {
                    case null:
                        // No se hace nada si Model.genderList es nulo
                        break;
                    case var list when list.Count == 0:
                        <input type="checkbox" class="btn-check" id="btn-check-6" autocomplete="off" disabled>
                        <label class="btn" for="btn-check-6">Aún no se han agregado productoras</label>
                        break;
                    default:
                        foreach (var producer in Model.producerList)
                        {
                            <input type="checkbox" class="btn-check" id="btn-check-@producer.Id" name="ProducersId" value="@producer.Id" autocomplete="off">
                            <label class="btn" for="btn-check-@producer.Id">@producer.Name</label>

                        }
                        <span asp-validation-for="ProducersId" class="text-danger"></span>
                        break;
                }
            </div>

            <!-- Campo para el url -->
            <div class="mb-3">
                <label asp-for="url" class="form-label">URL:</label>
                <input asp-for="url" type="text" class="form-control" />
                <span asp-validation-for="url" class="text-danger"></span>
            </div>

            <!-- Campo oculto para el manejo de ids -->
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GendersId" id="GendersId" />

            <!-- Botones para guardar y volver -->
            <button type="submit" class="btn btn-outline-primary float-end">Guardar</button>
            <a asp-controller="Movie" asp-action="Index" class="btn btn-outline-success">Volver</a>
        </form>
    </div>
</div>

    <script>

        $(document).ready(function () {
            // Manejar el evento del formulario cuando se envía
        $("#saveMovie").submit(function (event) {
                // Evitar que el formulario se envíe normalmente
                event.preventDefault();

                // Crear una lista para almacenar los IDs de géneros seleccionados
            var selectedGenders = [];
            var selectedProducers = [];

                // Iterar sobre los checkboxes seleccionados
            $("input[name='selectedGenders']:checked").each(function () {
                // Agregar el valor (ID del género) a la lista
                selectedGenders.push($(this).val());
            });

            $("input[name='selectedProducers']:checked").each(function () {
                // Agregar el valor (ID del género) a la lista
                selectedProducers.push($(this).val());
            });

                // Agregar la lista al campo oculto en el formulario
                $("#GendersId").val(selectedGenders);
            $("#ProducersId").val(selectedProducers);

                // Enviar el formulario
                this.submit();
            });
        });
    </script>